@keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.bubble-jump {
    animation: jump 0.5s infinite;
}

/* bot.css */
.MuiDialogContent-root {
    overflow: hidden;
}
